body {
  background-color: pink;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: whitesmoke;
}
.square {
  width: 70px;
  height: 65px;
  margin: .5%;
  background-color: lightblue;
}

.status {
  display: flex;
  justify-content: center;
  font-size: 60px;

}
.board-row {
  display: flex;
  justify-content: center;
  font-size:40px;
  text-align: center;
}
.game-info {
  display: flex;
  justify-content: center;
}
.btn {
  width: 210px;
  height: auto;
  background-color:thistle;
  margin: 2%;
}